/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2019, 10:30:05 PM
    Author     : ram
*/

scrolledwindow{
    border-color: transparent;
}

list{
    background: transparent;
}

list#GamesPanel_gameGridListBox row:hover{
    background-color: transparent;
}

list#PlatformDialog_imagesGridListBox row:hover{
    background-color: transparent;
}

list#PlatformDialog_imagesGridListBox{
    background-color: transparent;
}

list#GameDialog_developersListBox row:hover{
    background-color: transparent;
}

list#GameDialog_publishersListBox row:hover{
    background-color: transparent;
}

list#GameDialog_genresListBox row:hover{
    background-color: transparent;
}

list#GameDialog_imagesGridListBox row:hover{
    background-color: transparent;
}

list#GameDialog_imagesGridListBox{
    background-color: transparent;
}

list#GameDialog_documentsGridListBox row:hover{
    background-color: transparent;
}

list#GameDialog_documentsGridListBox{
    background-color: transparent;
}

list#GameDialog_documentsListBox row:hover{
    background-color: transparent;
}

list#GameDialog_documentsListBox{
    background-color: transparent;
}

list#SearchableListDialog_listBox row:hover{
    background-color: transparent;
}

button#mainWindow_addPlatformButton{
    background: #33bc3f;
    border: #33bc3f;
    color: white;
    font-weight: bolder;
}

button#mainWindow_addGameButton{
    background: #33bc3f;
    border: #33bc3f;
    color: white;
    font-weight: bolder;
}

button#mainWindow_addGameButton{
    background: #33bc3f;
    border: #33bc3f;
    color: white;
    font-weight: bolder;
}

button#mainWindow_addDirectoryButton{
    background: #33bc3f;
    border: #33bc3f;
    color: white;
    font-weight: bolder;
}

image#mainBannerBox_overlayBackgroundImage{
    background-color: black;
    opacity: 0.7;
}

button#setupBannerBox_startButton{
    background: #33bc3f;
    border: #33bc3f;
    color: white;
    font-weight: bolder;
}

box#setupBannerBox{
    color: white;
}

box#gameBannerBox{
    color: white;
}

button#gameBannerBox_launchButton{
    background: #33bc3f;
    border: #33bc3f;
    color: white;
    font-weight: bolder;
}

label#gameGridEventBox_nameLabel
{
    color: white;
}